<div class="banner">
  <div class="banner-content" style="color:#C4356C;">
    <h1> She has a dream </he>
    <br>
    <%= link_to "And you ?", new_dream_path, {class:"banner-btn"} %>
  </div>
</div>

